-if current_user
  %h1= @rubygem.name
  - if current_user.rubygems.exists? :name => @rubygem.name
    = "You're following " + @rubygem.name
    = link_to 'unfollow' , unfollow_path(@rubygem.name)
  - else
    = link_to "FOLLOW #{@rubygem.name}", follow_path(@rubygem.name)

- else
  #box
    %span{:style=>"font-size: 1.5em"}
      Notify me when 
      - if @rubygem.name == 'rails'
        %span{:style=>"font-size: 1.2em; font-weight: bold;"} Ruby on Rails 3.1
        is
      - else
        new
        %span{:style=>"font-size: 1.2em; font-weight: bold;"}
          = @rubygem.name
        gems are
      released!
      = render :partial => 'shared/follow_form', :object => @rubygem
