%h1 Listing notifications

%table
  %tr
    %th User
    %th Sent at
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.user_id
      %td= notification.sent_at
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Notification', new_notification_path
