#header
  #logo
    = link_to 'GemStalker', root_path
  <g:plusone></g:plusone>
  = render :partial => 'shared/twitter_html'

  - if current_user
    #account
      Welcome back,
      = current_user.name || 'dude'
      = link_to 'logout', '/logout'
.clear
#flash
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}" 
