<%= form_for(@rubygem) do |f| %>
  <% if @rubygem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubygem.errors.count, "error") %> prohibited this rubygem from being saved:</h2>

      <ul>
      <% @rubygem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
