<!DOCTYPE html>
<html>
<head>
  <title>GemStalker - Rubygem release notification service</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>"><img id="bg" src="<%= asset_path 'gemstalk.jpg' %>">
  <%= render :partial => 'shared/header' %>
  <div id="container">
    <%= yield %>
  </div>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= render :partial => 'shared/ga' %>
</body>
</html>
